@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}
:root {
  --primary: #4F1787;
  --primary-dark: #EFECEC;
  --secondary: #f1eee8;
  --bg: #180161;
  --font: font-family: "Oswald", sans-serif;
}

#wrapper {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  border:2px solid #333;
}

/* Header section */
#mypage_header {
  position: sticky; 
  top: 0; 
  z-index: 1000; 
  margin-top:1px;
  margin-bottom:4px;
  background-color: var(--bg);
  width: 100%; 
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-dark);
  box-sizing: border-box; 
}


.header-name {
  font-size: 2.2rem;
  letter-spacing: 2px;
}

/* content section */
#center_section {
  display: flex;
  font-size: 1.1rem;
  flex-direction: row;
  padding-top:1px;
  background-color: var(--primary-dark);
}

#mypage_leftnav {
 width: 30%;
 color: var(--bg);
}

#mypage_leftnav aside {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin: 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-right: 2px solid black;
    margin-left: 0;
    padding-left: 0;
    
}

.leftnav {
  font-size: 1.3rem;
}

#mypage_centerContent {
  width: 70%;
 
}

.hidden {
  display: none;
  text-transform: uppercase;
  padding: 15px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.hidden h4 {
  font-size: 0.9rem;
  letter-spacing: 1.5px;
}

#mypage_centerContent main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin: 15px;
    margin-left: 12px;
    padding: 8px;
    margin-right: 0;
    border-bottom: 2px solid black ;
}

.center-content {
  display: flex;
  flex-direction: column;
}

.center-content ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.list li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}

#mypage_footer {
  background-color: var(--bg);
  padding: 20px;
  border-top: 6px solid var(--primary);
  border-bottom: 2px solid var(--primary);
  text-align: center;
  color: var(--primary-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6px;
}

.footer-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-info {
  font-size: 1rem;
  text-align: left;
}

.footer-info span {
  font-weight: 600;
  margin-right: 10px;
}

/*-------------- Responsive Design -------------*/
@media (max-width: 375px) {
  /* header section */

  #wrapper {
    padding: 0;
  }
  #mypage_header {
    height:60px;
  }

  .header_name {
    font-size: 1.2rem;
  }

  /* content section */

  #center_section {
    margin: 0;
    font-size: 0.55rem;
  }

  #mypage_leftnav {
    display: none;
  }

  #mypage_centerContent {
    width: 100%;
  }
  .center-content{
    border-left:none;
  }

  .hidden {
    display: block;
    padding: 5px;
  }

  .hidden h4 {
    font-size: 0.6rem;
  }

  #mypage_centerContent main {
    height: auto;
    margin: 0px;
    margin-top: 8px;
    padding: 2px;
  }

  .list li {
    padding-left: 10px;
  }
 
  /* footer section */

  .footer-title {
    font-size: 0.8rem;
  }

  .footer-info {
    font-size: 0.6rem;
  }

}

@media (min-width: 375px) and (max-width: 480px) {
  /* header section */
  #wrapper {
    padding: 0;
  }
  #mypage_header  {
    height:60px;
  }

  .header_name {
    font-size: 1.3rem;
  }

  /* content section */

  #center_section {
    margin: 0;
    font-size: 0.65rem;
  }
  

  #mypage_leftnav {
    display: none;
  }

  #mypage_centerContent {
    width: 100%;
  }
  .center-content{
    border-left:none;
  }

  .hidden {
    display: block;
    padding:2px;
  }

  .hidden h4 {
    font-size: 0.7rem;
    padding: 2px;
    margin-top:5px;
  }

  #mypage_centerContent main {
    height: auto;
    margin: 0px;
    margin-top: 10px;
    padding: 0;
  }

  /* footer section */
  .footer-title {
    font-size: 0.9rem;
  }

  .footer-info {
    font-size: 0.7rem;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* header section */
  #wrapper {
    padding: 0 0px;
  }
  #mypage_header  {
    height:60px;
  }

  .header_name {
    font-size: 1.5rem;
  }

  /* content section */
  #center_section {
    margin: 0;
    font-size: 0.8rem;
  }

  #mypage_leftnav {
    display: none;
  }

  #mypage_centerContent {
    width: 100%;
  }
  .center-content{
    border-left:none;
  }
  .hidden {
    display: block;
    padding:12px;
  }

  #mypage_centerContent main {
    height: auto;
    margin: 0px;
    margin-top: 15px;
    padding: 6px;
  }

  /* footer section */

  .footer-title {
    font-size: 1rem;
  }

  .footer-info p {
    font-size: 0.8rem;
  }
 
}

@media (min-width: 768px) and (max-width: 991px) {
  /* header section */
  .header_name {
    font-size: 1.8rem;
  }
  #mypage_header  {
    height:60px;
  }

  /* content section */
  #center_section {
    font-size: 0.9rem;
  }

  .center-content ul {
    padding: 0px;
  }
  .hidden ul li{
    padding: 0px;
  }

  .leftnav {
    font-size: 1rem;
  }

  /* footer section */

  .footer-title {
    font-size: 1.4rem;
  }

  .footer-info p {
    font-size: 0.9rem;
  }
  
}